* {
	margin: 0px;
	padding: 0px;
}

#header {
	height: 100px;
	background-image: url('header.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-left: 150px;
	
	padding-top: 20px;
}

p {
		margin: 5px;
		text-indent: 20px;
		margin-right: 110px;
}

#end {
		text-align: right;
}

#pogoda {
		width: 150px;
		padding-left: 10px;
		float: left;
}

#photo {
	width: 220 px;
	padding-left: 150px;
	padding-right: 220px;	
	float: right;
	vertical-align: top;
	flex-direction: column;
	display: flex;
	
}

#footer {
	background-color: #cccccc;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: center;
	clear: both;
}